__pycache__/
*.py[cod]
.ipynb_checkpoints/

.build-check/
.nb-pdf-*/
dist/

*.pdf
!/example/test_latex.pdf
!/example/test_latex_authentic.pdf
!/example/test_latex_authentic_m.pdf
!/examples/chinese_authentic_zh.pdf
!/examples/chinese_above.pdf
/*.tex
/example/*.tex
/examples/*.tex
*.aux
*.log
*.out
*.synctex.gz
*_files/
